<div class="app__instruction">
  When route reuse is enabled, toggling the visibility of a re-used route will cause duplication regardless of if animations are enabled or not.  Module B doesn't use animations at all and is not affected by this issue.  When route reuse is disabled, both modules work.
</div>

<div class="app__top">
  <div class="app__status-item">
    <span>Route Reuse is:</span>
    <span class="app__status-enabled">
      {{ isEnabled() ? 'Enabled' : 'Disabled' }}
    </span>
    <button (click)="toggleEnabled()">
      {{ isEnabled() ? 'Disable' : 'Enable'}}
    </button>
  </div>
  <div class="app__status-item">
    <span>Animations are:</span>
    <span class="app__status-enabled">
      {{ disableAnimations ? 'Disabled' : 'Enabled' }}
    </span>
    <button (click)="disableAnimations = !disableAnimations">
      {{ disableAnimations ? 'Enable' : 'Disable'}}
    </button>
    <span>
      (Module A only)
    </span>
  </div>
</div>

<a routerLink="/a" routerLinkActive="active" [style.color]="'red'">Module A</a>|
<a routerLink="/b" routerLinkActive="active" [style.color]="'green'">Module B (No Animation)</a>

<div [@.disabled]="disableAnimations">
  <router-outlet></router-outlet>
</div>

